@font-face {
	font-family: 'Gilroy-Bold';
	src: url('../fonts/Gilroy/gilroy-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/Gilroy/gilroy-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/Gilroy/gilroy-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Gilroy/gilroy-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Gilroy/gilroy-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/Gilroy/gilroy-bold.svg#gilroy-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../fonts/Gilroy/gilroy-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/Gilroy/gilroy-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/Gilroy/gilroy-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Gilroy/gilroy-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Gilroy/gilroy-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/Gilroy/gilroy-regular.svg#gilroy-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('../fonts/Gilroy/gilroy-semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/Gilroy/gilroy-semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/Gilroy/gilroy-semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Gilroy/gilroy-semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Gilroy/gilroy-semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/Gilroy/gilroy-semibold.svg#gilroy-semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Gilroy-UltraLight';
	src: url('../fonts/Gilroy/gilroy-ultralight.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/Gilroy/gilroy-ultralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/Gilroy/gilroy-ultralight.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/Gilroy/gilroy-ultralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/Gilroy/gilroy-ultralight.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/Gilroy/gilroy-ultralight.svg#gilroy-ultralight') format('svg'); /* Chrome < 4, Legacy iOS */
}




@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('../fonts/Proximanova/ProximaNova-Regular.eot');
	src: local('Proxima Nova Regular'), local('../fonts/Proximanova/ProximaNova-Regular'),
		url('../fonts/Proximanova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Proximanova/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/Proximanova/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

























