@import 'nullstyle.scss';
@import 'fonts.scss';
// @import 'slider.scss';

//__________________

@mixin size($w, $h)
{
	width: $w;
	height: $h;
}


@mixin text($fz, $lh)
{
	font-size: $fz;
	line-height: $lh;
}

$color1: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);

//__________________


body{
	font-family: 'Gilroy-Regular', sans-serif;
	color: #fff;
	font-size: 18px;
	background: linear-gradient(360deg, #211F20 0%, #44403F 100%);
}

.container {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}

//__________________

header {
	height: 100px;
	background: #403C3B;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header {
	padding-top: 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

input[type="search"] {
	@include size(555px,52px);
	@include text(18px,21px);
	font-family: inherit;
	background: #504B4A;
	border-radius: 10px;
	border: 0px;
	padding-left: 50px;
	color: #CFCFCF;
	font-weight: 400;
	border: 1px solid rgba(255, 255, 255, 0);
	&::-webkit-input-placeholder {
		color: #CFCFCF;
    } 
	&::-moz-placeholder {
		color: #CFCFCF;
	}
	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.288);
	}
}

.input__search {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		@include size(25px,25px);
		background: url(../images/Location.svg) no-repeat center center;
		left: 14px;
		top: 14px;
	}
	&::after {
		content: '';
		position: absolute;
		@include size(25px,25px);
		background: url(../images/Search.svg) no-repeat center center;
		right: 13px;
		top: 14px;
	}
}

.header__contact {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__contact_img {
	@include size(32px,32px);
	border-radius: 50%;
	background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

.header__contact_phone {
	& span {
		@include text(12px,20px);
		color: #CFCFCF;
	}
	& p {
		@include text(16px,20px);
		font-family: 'Gilroy-Bold';
	}
}

.header__btn_cart {
	background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
	border-radius: 10px;
	@include size(150px,52px);
	@include text(14px,17px);
	font-family: 'Gilroy-SemiBold';
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px;
	transition: 0.1s ease all;
	&:hover {
		transition: 0.1s ease all;
		box-shadow: 0px 5px 10px rgba(114, 163, 121, 0.7);
	}
	p {
		margin: 0 18px;
	}
	.circle {
		@include size(24px,24px);
		background: #fff;
		border-radius: 50%;
		color: #403C3B;
		display: flex;
		justify-content: center;
		align-items: center;
		@include text(12px,14px);
		margin: 0 10px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			background: url(../images/Line88.svg) no-repeat center center;
			top: -7px;
			left: -13px;
			width: 1px;
			height: 38px;
		}
	}
}

//__________________

.banner {
	background: #211F20;
	display: flex;
	justify-content: end;
	img {
		max-height: 484px;
		max-width: 1436px;
	}
}

.banner__img{
	background: url(../images/menu1.png) no-repeat right top / contain;
	height: auto;
	min-height: 484px;
	width: 100%;
}

nav {
	height: 78px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	background: #403C3B;
}

.nav__menu {
	padding-top: 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	li {
		font-family: 'Gilroy-UltraLight';
		position: relative;
	}
	li.active {
		font-family: inherit;
		&::before {
			content: '';
			background: #618967;
			box-shadow: 0px 5px 12px rgba(114, 164, 121, 0.3);
			width: 100%;
			height: 3px;
			position: absolute;
			bottom: -30px;
		}
	}
}

//__________________

.heading {
	margin: 50px 10px;
	display: flex;
	align-items: center;
	font-family: 'Gilroy-Bold';
	@include text(21px,25px);
	.line {
		@include size(4px,33px);
		background: #618967;
	}		
	h1 {
		margin-left: 20px;
		text-transform: uppercase;

	}
}


.item {
	@include size(325px,385px);
	background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
	border-radius: 10px;
	margin: 10px;
	transition: 0.3s ease all;
	position: relative;
	& > img {
		width: 100%;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
	}
	&:hover {
		transition: 0.3s ease all;
		box-shadow: 0px 30px 45px rgba(0, 0, 0, 0.3);
	}
}

.item__info {
	padding: 14px 16px 18px 18px;

}

.item__name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	h3 {
		font-family: 'Gilroy-Bold';
		@include text(22px,26px);
	}
	span {
		font-family: 'Gilroy-UltraLight';
		@include text(12px,14px);
	}
}

.item__descr {
	margin-top: 5px;
	color: #CFCFCF;
	font-family: 'Gilroy-UltraLight';
	@include text(13px,17px);
}

.item__price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	span {
		@include text(20px,23px);
		font-family: 'Gilroy-SemiBold';
		
	}
	position: absolute;
	bottom: 18px;
	width: 90%;
	
}

.item__btn_cart {
	@include size(137px,44px);
	border-radius: 10px;
	background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 18px;
	@include text(14px,16px);
	font-family: 'Gilroy-SemiBold';
	cursor: pointer;
	img {
		margin-right: -3px;
	}
	transition: 0.1s ease all;
	&:hover {
		transition: 0.1s ease all;
		box-shadow: 0px 5px 10px rgba(114, 163, 121, 0.7);
	}
}


//__________________

.slider {
	display: flex;
	position: relative;
	height: 480px;	
}

/* Слайдер */
.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
	align-items: flex-start;
}


//__________________



.gradient_line {
	margin-top: -30px;
	display: flex;
}

.line__left {
	width: 70%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.1);
}

.line__right {
	width: 30%;
	height: 1px;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0))
}


//__________________

.about {
	width: 100%;
	padding:0 30px;
	position: relative;
	z-index: 2;
}
.about__body {
	max-width: 1363px;
	min-height: 610px;
	margin: 0 auto;
	background: linear-gradient(90deg, #211F20 32%, rgba(68, 64, 63, 0) 100%), url(../images/chicken.png) no-repeat right / cover;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about__text {
	padding-left: 70px;
	width: 48%;
	p {
		margin-top: 25px;
		margin-bottom: 60px;
		font-family: 'Gilroy-UltraLight';
		@include text(20px,25px);
		color: rgba(207, 207, 207, 1);
	}
}

.about__btn {
	@include size(223px,59px);
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	border-radius: 10px;
	font-family: 'Proxima Nova Rg';
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.1s ease all;
	&:hover {
		transition: 0.1s ease all;
		box-shadow: 0px 5px 10px rgba(24, 26, 25, 0.7);
	}
}

.about__sections {
	display: grid;
	grid-template-columns: 227px 227px;
	grid-template-rows: 227px 227px;
	gap: 15px;
	margin-right: 100px;
}

.about__section {
	background: rgba(80, 75, 74, 0.85);
	backdrop-filter: blur(4px);
	text-align: center;
	position: relative;
	cursor: pointer;
	transition: 0.1s ease all;
	span {
		display: block;
		margin-top: 160px;
		transition: 0.1s ease all;
	}
	&:hover {
		background: #504B4A;
		transition: 0.1s ease all;
		backdrop-filter: blur(4px);
	}
}

.img1 {
	position: absolute;
	width: 227px;
	height: 227px;
	background: url(../images/onionwhite.png) no-repeat center center;
	background-size: 80px;
	background-position-y: 66px;
	transition: 0.1s ease all;
	&:hover {
		background: url(../images/oniongreen.png) no-repeat center center;
		background-position-y: 66px;
		background-size: 80px;
		transition: 0.1s ease all;
		box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.4);
	}
	&:hover span{
		color: rgba(121, 178, 130, 1);
		transition: 0.1s ease all;
	}
}


.img2 {
	position: absolute;
	width: 227px;
	height: 227px;
	background: url(../images/flashwhite.png) no-repeat center center;
	background-size: 70px;
	background-position-y: 66px;
	transition: 0.1s ease all;
	&:hover {
		background: url(../images/flashgreen.png) no-repeat center center;
		background-position-y: 66px;
		background-size: 70px;
		transition: 0.1s ease all;
		box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.4);
	}
	&:hover span{
		color: rgba(121, 178, 130, 1);
		transition: 0.1s ease all;
	}
}


.img3 {
	position: absolute;
	width: 227px;
	height: 227px;
	background: url(../images/chefwhite.png) no-repeat center center;
	background-size: 70px;
	background-position-y: 66px;
	transition: 0.1s ease all;
	&:hover {
		background: url(../images/chefgreen.png) no-repeat center center;
		background-position-y: 66px;
		background-size: 70px;
		transition: 0.1s ease all;
		box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.4);
	}
	&:hover span{
		color: rgba(121, 178, 130, 1);
		transition: 0.1s ease all;
	}
}


//__________________

.contacts {
	background: url(../images/bigmap.png) no-repeat center top / cover;
	height: 675px;
	margin-top: -160px;
	position: relative;
}

.here {
	position: absolute;
	top: 40%;
	left: 65%;
}

.contacts__body {
	max-width: 526px;
	min-height: 405px;
	position: relative;
	top: 230px;
	padding: 25px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #2E2B2C;
	box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	
	h2 {
		@include text(30px,36px);
		font-family: 'Gilroy-Bold';
		padding: 0 50px;
	}
}

.contacts__wrap  {
	margin-left: 90px;
	span {
		@include text(14px,16px);
		font-family: 'Gilroy-UltraLight';
		color: #CFCFCF;
		display: block;
		margin-top: 20px;
		position: relative;
	}
	.span1::before {
		content: '';
			position: absolute;
			background: url(../images/Location2.svg);
			@include size(24px,24px);
			left: -35px;
			top: -3px;
	}
	.span2::before {
		content: '';
		position: absolute;
		background: url(../images/Message2.svg);
		@include size(24px,24px);
		left: -35px;
		top: -3px;
	}
	p {
		@include text(16px,19px);
		margin-top: 5px;
	}
}

.reserv__btn {
	background: linear-gradient(114.93deg, #618967 5.11%, #72A479 94%);
	border-radius: 10px;
	@include size(211px,59px);
	@include text(13px,16px);
	font-family: 'Proxima Nova Rg';
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.1s ease all;
	&:hover {
		transition: 0.1s ease all;
		box-shadow: 0px 5px 10px rgba(114, 163, 121, 0.7);
	}
}

.contacts__reserv {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 17px;
	padding: 0 50px;
}

.reserv__info {
	p {
		@include text(13px,15px);
		color: #CFCFCF;
	}
	span {
		@include text(23px,28px);
		font-family: 'Gilroy-Bold';
	}
}

.contacts__social {
	justify-content: center;
	display: flex;
	align-items: center;
	margin-top: 30px;
	p {
		margin-right: 25px;
		margin-top: -5px;
	}
	a {
		margin-right: 10px;
	}
}



//__________________

.gradient_line_short {
	display: flex;
	margin-top: 25px;
}

.line__left2 {
	width: 50%;
	height: 1px;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

.line__right2 {
	width: 50%;
	height: 1px;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

//__________________

footer {
	height: 195px;
	background: linear-gradient(270.7deg, #44403F 0.4%, #211F20 100%);
}


.footer {
	display: flex;
	align-items: center;
	max-width: 1250px;
	margin: 0 auto;
	padding-top: 30px;
}

.footer__circle {
	@include size(64px,64px);
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin: 0 50px;
	img {
		@include size(30px,30px);
		transform: rotate(180deg);
		margin-top: -5px;

	}
}

.footer__body {
	img {
		@include size(100px,25px);
		margin-bottom: 15px;
	}
	display: flex;
	flex-direction: column;
	margin-right: 86px;
	span {
		color: #CFCFCF;
		@include text(12px,14px);
	}
	a {
		margin-top: 5px;
		display: inline-block;
		@include text(14px,16px);
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
	a.aa {
		width: 40%;
	}
}

.footer__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 621px;
	li {
		@include text(20px,24px);
	}
}

@import 'media.scss';
